%form 
%input#signin{:type => "radio", :name 
=> "action", :value => "signin", :checked => true} 
%label{:for => "signin"} Sign in 
%input#signup{:type => "radio", :name 
=> "action", :value => "signup"} 
%label{:for => "signup"} Sign up
%input#reset{:type => "radio", :name 
=> "action", :value => "reset"} 
%label{:for => "reset"} Reset 
#wrapper 
#arrow 
%input#email{:placeholder => "Email"
, :type =>"text"} 
%input#pass{:placeholder => 
"Password", :type => "password"}
%input#repass{:placeholder => "Repeat password", :type => 
"password"}
%button{:type => "submit"} 
%span 
Reset password 
%br 
Sign in 
%br 
Sign up 
#hint Click on the tabs
